<div class="container double-text-size-mobile">
  <h3>About</h3>
  <p><span class="bold underline">What is this?</span></p>
  <p>ELO Kitty is a web app designed to give users the ability to share photos of their cats, vote on their favorite cats vs. other cats, and view other users's cats.</p>

  <p><span class="bold underline">Background</span></p>
  <p>Inspired by a final project at a web development bootcamp, the physicist Arpad Elo and his <a href="https://en.wikipedia.org/wiki/Elo_rating_system">rating system</a>, my friends who are always sharing pictures of cats with me, and the story of Mark Zuckerberg's Facemash - I created ELO Kitty as a fun project.</p>
  <p>Our goal is to help users share their beloved cats and match them up against other cute cats from around the world, with a touch of friendly competition to see which cats are most loved by the community.</p>
  <p>Best of luck and happy voting!</p>

  <h3>FAQ's</h3>
  <p><span class="bold underline">Why does this exist?</span></p>
  <p>Because I needed a fun project!</p>

  <p><span class="bold underline">Who are you?</span></p>
  <p>Just an aspiring developer starting a portfolio.</p>

  <p><span class="bold underline">I'd like to help or contribute, how do I do that?</span></p>
  <p>Send me a message on <a href="https://www.instagram.com/elokittyofficial/">Instagram!</a></p>

  <p><span class="bold underline">Why only 5 cats?</span></p>
  <p>This isn't the lottery. You can't buy better odds.</p>

  <p><span class="bold underline">How does ELO Kitty know what's a cat and what's not?</span></p>
  <p>It doesn't. Google does. <a href="http://www.businessinsider.com/google-offers-computer-vision-tech-2015-12">AI can now identify objects in images.</a> It's very cool technology. However, it's not perfect, so you may well submit a photo of a cat and Google will tell you it's not. If that happens, try another photo. I'd love to be the arbiter, but don't have time to police images of cats.</p>  
</div>