<div class="container">
  <p><span class="bold">About</span></p>
  <p>ELO Kitty is a web app designed to give users the ability to share photos of their cats, vote on their favorite cats vs. other cats, and view other users's cats.</p>

  <p><span class="bold">Background</span></p>
  <p>Inspired by a final project at a web development bootcamp, the physicist Arpad Elo and his <a href="https://en.wikipedia.org/wiki/Elo_rating_system">rating system</a>, my friends who are always sharing pictures of cats with me, and the story of Mark Zuckerberg's Facemash -- ELO Kitty was born.</p>
  <p>Our goal is to help users share their beloved cats and match them up against other cute cats from around the world, with a touch of friendly competition to see which cats are most loved by the community.</p>
  <p>Best of luck and happy voting!</p>
</div>