<div class="container double-text-size-mobile">
  <p><span class="bold underline">About</span></p>
  <p>ELO Kitty is a web app designed to give users the ability to share photos of their cats, vote on their favorite cats vs. other cats, and view other users's cats.</p>

  <p><span class="bold underline">Instagram Use</span></p>
  <p>In order to best integrate into existing social media, we ask that users who would like to upload photos of their cat to authenticate and select photos from their Instagram account. We access this information using Instagram's developer API.</p>
  <p>For authentication, we give users the ability to log in using their Instagram account. Using this technique, we never store a users's password and only access basic information about a user's profile. This information includes basic info such as email address, username, profile picture, and recent media. For more information, see <a href="https://www.instagram.com/developer/authorization/">Instagram's Developer Authentication documentation.</a></p>
  <p>When accessing media, we only access a users's most recent media. The only user that can see recent media is the logged in user themselves. However, once a user has elected to submit their media for ELO Kitty's voting feature, the photo will become public.</p>

  <p><span class="bold underline">Information Collection and Use</span></p>
  <p>From time to time, we will collect user information to improve our site.</p>
  <p>When a user submits a photo for voting, they agree to share any public information contained in their Instagram profile and the selected photo.</p>
  <p>We may also use your public information (the same information you provide on your public Instagram acccount) to customize what content is served to you. This may include advertisements and promotions. Please take care in ensuring that you are only sharing public information (via Instagram) that you are comfortable with sharing to the public.</p>

  <p><span class="bold underline">Changes to this Policy</span></p>
  <p>We may revise this Privacy Policy as needed. The most current version will govern our use of your information and will always be located at this URL. If we make a change to this policy, we will update it here. By using this site, you agree to be bound by the revised and most current privacy policy.</p>
  
  <p><span class="bold underline">Effective:  March 31, 2016</span></p>
</div>