.thumbnail-grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.insta-thumbnail-container {
  position: relative;
  margin: 10px;
}

#recent-instagram-photos {
  clear: both;
  padding-top: 20px;
}

.insta-thumbnail-overlay, .cat-submission-overlay {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 2em;
}


.insta-thumbnail-overlay:hover, .cat-submission-overlay:hover {
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  color: white;
}

.cat-submission-container {
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.cat-submission {
  max-width: 100%;
}