html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
  height: 40px;
  padding: 10px;
  background-color: #4e5d6c;
  font-size: 12px;
}

.push {
  clear: both;
  height: 60px;
}

.footer > .container {
  text-align: center;
}