/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
  .double-text-size {
    font-size: 2em;
  }   
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {
  .double-text-size {
    font-size: 2em;
  }   
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
  .double-text-size {
    font-size: 2em;
  }   
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {
  .double-text-size {
    font-size: 1em;
  }   
}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
  .double-text-size {
    font-size: 1em;
  }   
}