.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.inline {
  display: inline;
}

.show-border {
  border: 1px solid black;
}

.underline {
  text-decoration: underline;
}