.cat-ranking-container {
  width: 100%;
  display: flex;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.cat-ranking-image-container, .cat-ranking-info-container {
  width: 50%;
  box-sizing: border-box;
}

.cat-ranking-info-container {
  padding: 20px;
}

#submitted-cats {
  border-bottom: 1px solid lightgrey;
}

.cat-ranking-container > .nailthumb-container {
  margin: 10px;
}