.instagrid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.insta-thumbnail-container {
  position: relative;
}

.insta-thumbnail {
  margin: 10px;
}

.insta-thumbnail-overlay, .cat-submission-overlay {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 2em;
}

.insta-thumbnail-overlay {
  margin: 10px;
}

.insta-thumbnail-overlay:hover, .cat-submission-overlay:hover {
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  color: white;
}

.cat-submission-container {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

.cat-submission {
  max-width: 100%;
}