.cat-image-container {
  display: flex;
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
}

.cat-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.cat-image:hover {
  cursor: pointer;
}

#kitty-cache {
  position: absolute;
  left: -10000px;
}