.cat-image-container {
  max-width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  /*overflow: hidden;*/
  position: relative;
}

.cat-image {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.cat-image:hover {
  cursor: pointer;
}

#kitty-cache {
  position: absolute;
  left: -10000px;
}