<div class="cat-submission-container" id="<%= cat.id %>" data-id="<%= cat.id %>" data-name="<%= cat.name %>">
  <img class="cat-submission" src="<%= cat.url %>">
  <div class="cat-submission-overlay" data-toggle="modal" data-target="#edit-photo-modal">
    <span class="glyphicon glyphicon-pencil"></span>
  </div>
</div>