<div class="rankings-container col-md-8 col-md-offset-2">
  <% @cats.each_with_index do |cat, index| %>
    <div class="cat-ranking-container">
      <div class="cat-ranking-image-container inline-block">
        <img class="cat-ranking-image" src="<%= cat.url %>">
      </div>
      <div class="cat-ranking-info-container inline-block">
      </div>
    </div>
  <% end %>
</div>