<div class="container">
  <div class="col-xs-6">
    <div class="cat-image-container left-box" id="<%= @cat1.id %>">
      <img class="cat-image" src="<%= @cat1.url %>">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="cat-image-container right-box" id="<%= @cat2.id %>">
      <img class="cat-image" src="<%= @cat2.url %>">
    </div>
  </div>
</div>