<div class="container" id="matchup-container">
</div>

<div class="center-text container">
  <p><span class="bold">Instructions: </span>Click on a kitty to vote for it.</p>
  <p><span class="bold">Desktop Users: </span>You can use the left and right arrow keys for rapid fire voting!</p>
</div>

<div class="container" id="kitty-cache">
</div>

<script>
  CATARRAY = []
  renderInitialMatchup();
</script>