<div class="container">
  <div class="col-md-6 test">
    <div class="cat-image-container">
      <img class="cat-image" src="<%= @cat1.url %>">
    </div>
  </div>
  <div class="col-md-6 test">
    <div class="cat-image-container">
      <img class="cat-image" src="<%= @cat2.url %>">
    </div>
  </div>
</div>