<div class="container" id="banner-container">
  <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=elokitty0a-20&o=1&p=48&l=ur1&category=pets&banner=1STB1X9W54CP5WG6G0G2&f=ifr&linkID=K4RHLT55LCX4SE22" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;max-width:800px;max-height:600px;" frameborder="0"></iframe>
</div>


<div id="matchup-container">
</div>

<div class="center-text container">
  <p class="double-text-size-mobile"><span class="bold">Instructions: </span>Click on a kitty to vote for it.</p>
  <p><span class="bold">Desktop Users: </span>You can use the left and right arrow keys for rapid fire voting!</p>
</div>

<div class="container" id="kitty-cache">
</div>

<script>
  CATARRAY = []
  <% if @cat %>
    renderInitialMatchup("<%= @cat.matchup_id %>");
  <% else %>
    renderInitialMatchup();
  <% end %>
</script>

<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_enable_interest_ads = "true";
  amzn_assoc_tracking_id = "elokitty0a-20";
  amzn_assoc_ad_mode = "auto";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_linkid = "1cf958b23691c4421a9de4f10d13474f";
  amzn_assoc_emphasize_categories = "2619533011";
  amzn_assoc_fallback_mode = {"type":"search","value":"cat food"};
  amzn_assoc_default_category = "All";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
